<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>注册成功</title>
		<script th:inline="javascript">
			function countDown(){
				//获取初始时间
				var time = document.getElementById("Time");

				//获取到id为time标签中的数字时间
				if(time.innerHTML == 0){
					//等于0时清除计时，并跳转该指定页面
					window.location.href= [[${redictUrl}]];
				}else{
					time.innerHTML = time.innerHTML-1;
				}
			}
			//1000毫秒调用一次
			window.setInterval("countDown()",1000);
		</script>
		<style>
			#Time,#p{
				font-size: 50px;
				text-align: center;
			}
			#Font,#p{
				text-align: center;

				display: block;

				font-size: 35px;

				font-weight: 700;

				padding: 35px 0;

				border-bottom: 1px solid #f0f0f0;

				margin-bottom: 30px;

			}
		</style>
	</head>
	<body>
		<p id="Font">注册成功</p>

		<p id="Time" th:bgcolor="yello" >5</p></font>

		<p id="Font">将跳转至主页</p>
	</body>
</html>