<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App2</title>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app2.css">
</head>

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0; border: 0">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                    <a class="btn btn-danger" href="http://localhost:8082/index">SSO 首页</a>
                    <a class="btn btn-danger" href="http://localhost:8083/app1">App1</a>
                    <a class="btn btn-danger" href="http://localhost:8082/logout">退出</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>